.main-section-content {
    background: transparent;
    color: antiquewhite;
}


.codehilite pre {
    background-color: #17202a;
    padding: 0.5em;
}

code, blockquote {
    background-color: transparent !important;
    color: white !important;
}